{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "commonjs": true
    },
    "extends": "eslint-config-airbnb",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
    },
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "valid-jsdoc": 2,

        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    }
}
