<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreDataWithSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF7978FE1D9BB6BC00442022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7979151D9BB6BC00442022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7979201D9BB6BC00442022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
